* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hiro-img {
	position: relative;

	img {
		max-height: 700px;
		max-width: 1400px;
	}
}

.main-menu {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	top: 30px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-left: 3rem;
}

.nav-link {
	font-size: 19px;

	color: white;
}
