* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.hiro-img {
	position: relative;
	display: block;

	img {
		object-fit: cover;
		max-height: 700px;
		width: 100%;
		object-fit: cover;
	}
}

.main-menu {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	top: 30px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-logo {
	font-family: 'Kolker Brush', cursive;
	color: gold;
	font-size: 50px;
	font-weight: bold;
}

.nav-item {
	margin-left: 3rem;
	text-transform: uppercase;

	 a {
		color: white;
	 }
}
